@import "../../index.scss";

.Slideshow{
    margin: 20px 0;
    position: relative;
    @include large-container;
    height: 415px;
    &__inner{
       display: flex; 
       flex-wrap: nowrap;
       overflow: hidden;
    }
    &__picture{
        flex: 0 0 100%;
        @include large-container;
        height: 415px;
        object-fit: cover;
        transition: .5s ease-in-out;
        &--active{
            display: block;
        }
        @media all and (max-width: 600px) {
            height: 225px;
            border-radius: 10px;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 35%;
        @media all and (max-width: 600px) {
            bottom: 40%;
        }
    }
    &__button{
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    &__arrow{
        height: 79px;
        padding: 23px;
        &--right{
            transform: rotate(180deg);
        }
        @media all and (max-width: 600px) {
            height: 19.8px;
            padding:6px;
        }
    }
    &__count{
        color: white;
        position: absolute;
        bottom: 5%;
        left: 49%;
        @media all and (max-width: 600px) {
            display: none;
        }
    }
}
