@import "../../index.scss";

.Slideshow{
    margin: 20px 0;
    position: relative;
    width: 100%;
    &__picture{
        display:none;
        max-width: 0;
        @include large-container;
        height: 415px;
        width:100%;
        object-fit: cover;
        transition : max-height 6000ms;
        &--active{
            display: block;
            max-width: 100%;
        }
        @media all and (max-width: 600px) {
            height: 225px;
            border-radius: 10px;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 35%;
        @media all and (max-width: 600px) {
            bottom: 40%;
        }
    }
    &__button{
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    &__arrow{
        height: 79px;
        padding: 23px;
        &--right{
            transform: rotate(180deg);
        }
        @media all and (max-width: 600px) {
            height: 19.8px;
            padding:6px;
        }
    }
    &__count{
        color: white;
        position: absolute;
        bottom: 5%;
        left: 49%;
        @media all and (max-width: 600px) {
            display: none;
        }
    }
}
