@import "../../style-variables/variables.scss";

@keyframes preloader {
    100% { transform: scale(2); }
  }

.Loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    &__animation{
        margin: 50px;
        background-color: none;
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center;  
        z-index: 100000;
    }
    &__title{
        font-size: 24px;
        margin: 50px;
        text-align: center;
        @media all and (max-width: $smartphone) {
            font-size: 18px;
        }
    } 
    &__element {
        border-radius: 100%;
        border: 8px solid $main-color;
        margin: 16px;
    }
    &__element:nth-child(1) {
        animation: preloader .6s ease-in-out alternate infinite;
    }
    &__element:nth-child(2) {
        animation: preloader .6s ease-in-out alternate .2s infinite;
    }  
    &__element:nth-child(3) {
        animation: preloader .6s ease-in-out alternate .4s infinite;
    }    
}