@import "../../style-variables/variables.scss";

.Stars{
    margin: 20px 0;
    text-align: right;
    width: 200px;
    &__picture{
       padding: 7px;
       @media all and (max-width: $pad){
        height: 18px;
        padding: 5px;
   }
       @media all and (max-width: $smartphone){
            height: 13px;
            padding: 3px;
       }
    }
    @media all and (max-width: 800px){
        text-align: left;
    }
}