@import "../../index.scss";

.Collapse{
    margin-bottom: 30px;
    @media all and (max-width: 600px) {
        margin-bottom: 0px;
    }
    &__button{
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    background-color: $main-color ;
    height: 52px;
    padding: 10px;
    width:100%; 
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:2;
    @media all and (max-width: 600px) {
        height: 30px;
        font-size: 13px;

    }
    }
    &__arrow{
        padding: 5px;
        transition: transform 400ms;
        &:hover{
            cursor: pointer;
        }
        &.active{
            transform: rotate(-180deg);
        }
        @media all and (max-width: 600px) {
            width: 16px;
        } 
    }
    &__box{
        max-height:0;
        font-size: 18px;
        line-height :1.5em;
        @include large-container;
        border-radius: 5px;
        z-index:1;
        transform: translateY(-50px);
        margin: 0;
        transition : transform 500ms;
        &.active{
            max-height: 210px;
            transform: translateY(-5px);
        }
        @media all and (max-width: 600px) {
            font-size: 12px;
        }
    }
    &__content{
        padding: 20px;
    }
    &--medium{
        width: 50%;
    }
}
