@import "../../style-variables/variables.scss";

.Collapse{
    margin-bottom: 30px;
    overflow: hidden;
    @media all and (max-width: $smartphone) {
        margin-bottom: 0px;
    }
    &__button{
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    background-color: $main-color ;
    height: 52px;
    padding: 10px;
    width:100%; 
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:2;
    @media all and (max-width: $pad) {
        font-size: 18px;
    }
    @media all and (max-width: $smartphone) {
        height: 30px;
        font-size: 13px;

    }
    }
    &__arrow{
        padding: 5px;
        transition: transform 400ms;
        &:hover{
            cursor: pointer;
        }
        &.active{
            transform: rotate(-180deg);
        }
        @media all and (max-width: $smartphone) {
            width: 16px;

        } 
    }
    &__box{
        max-height:0px;
        font-size: 18px;
        line-height :1.5em;
        @include large-container;
        border-radius: 5px;
        z-index:1;
        transform: translateY(-150%);
        margin: 0;
        transition : all 400ms;
        &.active{
            transform: translateY(-5px);
            max-height: 210px;
            @media all and (max-width: $smartphone) {
                transform: translateY(-15px);
            }
        }
        @media all and (max-width: $smartphone) {
            font-size: 12px;
        }
    }
    &__content{
        padding: 16px 20px;
        @media all and (max-width: $smartphone) {
            padding-bottom: 13px
        }
    }
    &--medium{
        width: 50%;
    }
}
