@import "../../style-variables/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0px;
    &__logo{
        height :68px;
        @media all and (max-width: $smartphone) {
            height: 47px;
         } 
    }
    &__navigation{
        display: flex;
        
    }
    &__link{
        font-size: 24px;
        text-decoration: none;
        color: black;
        padding-left: 57px;
        &:hover {
            text-decoration: underline;
        }
        &--active{
            text-decoration: underline;
        }
        @media all and (max-width: $pad) {
            font-size: 18px;
            padding-left: 26px;
        }  
        @media all and (max-width: $smartphone) {
            text-transform: uppercase;
            font-size: 12px;
            padding-left: 26px;
        }   
    }
}

