.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0px;
    &__logo{
        height :68px;
    }
    &__link{
        font-size: 24px;
        text-decoration: none;
        color: black;
        margin-left: 57px;
        &:hover {
            text-decoration: underline;
        }    
    }
}
    
