@import "../../style-variables/variables.scss";

.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 139px 0;
    @media all and (max-width: $smartphone) {
        margin: 113px 0;
    }
    &__title{
        font-size: 288px;
        font-weight: 700;
        color: $main-color;
        @media all and (max-width: $pad) {
            font-size: 192px;
        }
        @media all and (max-width: $smartphone) {
            font-size: 96px;
        }
    }
    &__text{
        color: $main-color;
        font-size: 36px;
        margin: 139px 0;
        text-align: center;
         @media all and (max-width: $pad) {
            font-size: 24px;
        }
        @media all and (max-width: $smartphone) {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin: 113px 0;
        }
    }
    &__link{
        color: black;
        font-size: 14px;
    }
}